*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: aqua;
}
.grid-item1{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
}
.grid-item2{
    background-color: navy;
}
.grid-item3{
    background-color: black;
}
.grid-item4{
    background-color: blueviolet;
    grid-column-start: 1;
    bottom: 0;
}
.grid-item5{
    background-color: aqua;
    grid-row-start: 2;
}
.grid-item6{
    background-color: yellow;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}